{% load static %}
<h3>By {{ title }}</h3>
<ul>
{% for choice in choices %}
    <li{% if choice.selected %} class="selected"{% endif %}>
        <span style='float: left;'>
            <a href="{{ choice.query_string|iriencode }}" title="{{ choice.display }}">
                {{ choice.display }}
                {% if choice.is_global %}
                    <img src="{% static 'img/dynfilters/icon-viewlink.svg' %}">
                {% endif %}
            </a>
        </span>

        <span style='float: right;'>
            {% if forloop.first %}
                <a href='{% url "dynfilters_add" model_name=spec.model_name %}' title="Create new filter" class="unbind-default-click">
                    <img src="{% static 'admin/img/icon-addlink.svg' %}">
                </a>

            {% else %}
                <a href='{% url "dynfilters_change" expr_id=choice.lookup %}' title="Edit filter" style="display:inline;" class="unbind-default-click">
                    <img src="{% static 'admin/img/icon-changelink.svg' %}">
                </a>

                <a href="{% url "dynfilters_delete" expr_id=choice.lookup %}" title="Delete filter" style="display:inline;" class="unbind-default-click">
                    <img src="{% static 'admin/img/icon-deletelink.svg' %}">
                </a>

            {% endif %}
        </span>

        <div style='clear:both;'></div>
    </li>
{% endfor %}
</ul>

<script>
    function clickfunction(e) {
        e.preventDefault();
        console.log("ahoj");
        console.log(e);
        console.log(e.currentTarget.href);
        window.location.href = e.currentTarget.href;
        return false;
    }

    django.jQuery('.unbind-default-click').click(clickfunction);

function confirmDelete(href) {
    const deleteLocation = confirm('Do you really want to delete this filter?');
    if (deleteLocation) {
        console.log(href);
        window.location.href = href;
    }
}
</script>
